In [86]:
# Importing Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [87]:
# Setting csv path and loading the first csv into Pandas DataFrame

tb_rates_csv = "Resources/tb_rates.csv"
tb_rates_df = pd.read_csv(tb_rates_csv)
tb_rates_df.head()

,Country,National data,Report type,2012 Cases,2012 Rate,ASR,Confirmed cases,2011 Cases,2011 Rate,2010 Cases,2010 Rate,2009 Cases,2009 Rate,2008 Cases,2008 Rate
0,Austria,Y,C,648,7.7,7.6,413,690,8.2,691,8.3,696,8.3,817,9.8
1,Belgium,Y,C,987,8.9,9.1,776,1019,9.3,1086,10,994,9.2,990,9.3
2,Bulgaria,Y,C,2280,31.1,30.6,1092,2406,32.6,2649,35,2910,38.3,3150,41.2
3,Cyprus,Y,C,69,8,7.8,50,54,6.4,61,7.4,55,6.9,50,6.3
4,Czech Republic,Y,C,605,5.8,5.6,421,600,5.7,668,6.4,694,6.7,864,8.3

In [88]:
# Dropping unwanted columns

new_df = tb_rates_df.drop(["National data", "Report type", "ASR", "Confirmed cases"], axis=1)
new_df.head()

,Country,2012 Cases,2012 Rate,2011 Cases,2011 Rate,2010 Cases,2010 Rate,2009 Cases,2009 Rate,2008 Cases,2008 Rate
0,Austria,648,7.7,690,8.2,691,8.3,696,8.3,817,9.8
1,Belgium,987,8.9,1019,9.3,1086,10,994,9.2,990,9.3
2,Bulgaria,2280,31.1,2406,32.6,2649,35,2910,38.3,3150,41.2
3,Cyprus,69,8,54,6.4,61,7.4,55,6.9,50,6.3
4,Czech Republic,605,5.8,600,5.7,668,6.4,694,6.7,864,8.3

In [90]:
# Dropping Unwanted role by index

new_tb_rates_df = tb_rates_df.drop([27, 29], axis=0)
new_tb_rates_df.head()

,Country,National data,Report type,2012 Cases,2012 Rate,ASR,Confirmed cases,2011 Cases,2011 Rate,2010 Cases,2010 Rate,2009 Cases,2009 Rate,2008 Cases,2008 Rate
0,Austria,Y,C,648,7.7,7.6,413,690,8.2,691,8.3,696,8.3,817,9.8
1,Belgium,Y,C,987,8.9,9.1,776,1019,9.3,1086,10,994,9.2,990,9.3
2,Bulgaria,Y,C,2280,31.1,30.6,1092,2406,32.6,2649,35,2910,38.3,3150,41.2
3,Cyprus,Y,C,69,8,7.8,50,54,6.4,61,7.4,55,6.9,50,6.3
4,Czech Republic,Y,C,605,5.8,5.6,421,600,5.7,668,6.4,694,6.7,864,8.3

In [114]:
csv_path = "Resources/BCG_vaccine.csv"
vaccine_df = pd.read_csv(csv_path)
vaccine_df.head(5)

         Country / Region Antigen Data source 2012 2011 2010 2009 2008
0                 Albania     BCG      WUENIC  96%  97%  99%  97%  99%
1                 Armenia     BCG      WUENIC  96%  96%  95%  99%  98%
2              Azerbaijan     BCG      WUENIC  98%  99%  98%  95%  92%
3                 Belarus     BCG      WUENIC  98%  99%  99%  98%  98%
4  Bosnia and Herzegovina     BCG      WUENIC  96%  94%  96%  97%  96%

In [115]:
vaccine_df.drop("Data source", axis =1, inplace=True)

In [116]:
vaccine_df

          Country / Region Antigen 2012 2011 2010 2009 2008
0                  Albania     BCG  96%  97%  99%  97%  99%
1                  Armenia     BCG  96%  96%  95%  99%  98%
2               Azerbaijan     BCG  98%  99%  98%  95%  92%
3                  Belarus     BCG  98%  99%  99%  98%  98%
4   Bosnia and Herzegovina     BCG  96%  94%  96%  97%  96%
5                 Bulgaria     BCG  97%  98%  98%  98%  98%
6                  Croatia     BCG  99%  99%  99%  99%  99%
7                  Czechia     BCG  NaN  NaN  NaN  98%  99%
8                  Estonia     BCG  97%  99%  97%  97%  98%
9                  Georgia     BCG  95%  96%  96%  95%  95%
10                 Hungary     BCG  99%  99%  99%  99%  99%
11                 Ireland     BCG  42%  41%  30%  30%  34%
12              Kazakhstan     BCG  95%  96%  96%  96%  97%
13              Kyrgyzstan     BCG  98%  98%  98%  98%  99%
14                  Latvia     BCG  94%  93%  92%  96%  95%
15               Lithuania     BCG  98%  98%  99%  99%  99%
16                  Monaco     BCG  89%  89%  89%  89%  89%
17              Montenegro     BCG  95%  97%  95%  95%  98%
18         North Macedonia     BCG  95%  94%  96%  98%  94%
19                  Poland     BCG  94%  94%  93%  94%  93%
20                Portugal     BCG  99%  97%  96%  98%  98%
21     Republic of Moldova     BCG  99%  98%  98%  96%  98%
22                 Romania     BCG  99%  99%  99%  99%  99%
23      Russian Federation     BCG  96%  95%  96%  96%  96%
24                  Serbia     BCG  98%  99%  99%  98%  99%
25                Slovakia     BCG  90%  97%  98%  97%  98%
26                  Sweden     BCG  24%  23%  23%  21%  23%
27              Tajikistan     BCG  97%  97%  98%  82%  89%
28            Turkmenistan     BCG  99%  98%  99%  99%  99%
29                 Türkiye     BCG  96%  96%  97%  96%  96%
30                 Ukraine     BCG  95%  90%  92%  94%  95%
31              Uzbekistan     BCG  99%  99%  99%  99%  96%

In [92]:
immunisation_csv = "Resources/BCG.csv"
immunisation_df = pd.read_csv(immunisation_csv)
immunisation_df.head(5)

       Country  2012  2011  2010  2009  2008
0  Afghanistan  78.0  71.0  68.0  64.0  66.0
1      Albania  96.0  97.0  99.0  97.0  99.0
2      Algeria  99.0  99.0  99.0  99.0  99.0
3       Angola  73.0  74.0  79.0  70.0  73.0
4    Argentina  99.0  99.0  99.0  99.0  99.0

In [93]:
immunisation_df.loc[immunisation_df['Country']== 'Slovenia']

      Country  2012  2011  2010  2009  2008
134  Slovenia   NaN   NaN   NaN   NaN   NaN

In [94]:
immunisation_df[immunisation_df['Country'].isin(new_tb_rates_df['Country'])==True]

            Country  2012  2011  2010  2009  2008
17         Bulgaria  97.0  98.0  98.0  98.0  98.0
35   Czech Republic   NaN   NaN   NaN  98.0  99.0
46          Estonia  97.0  99.0  97.0  97.0  98.0
50          Finland   NaN   NaN   NaN   NaN   NaN
51           France   NaN   NaN   NaN   NaN   NaN
62          Hungary  99.0  99.0  99.0  99.0  99.0
67          Ireland  42.0  41.0  30.0  30.0  34.0
77           Latvia  94.0  93.0  92.0  96.0  95.0
81        Lithuania  98.0  98.0  99.0  99.0  99.0
113          Poland  94.0  94.0  93.0  94.0  93.0
114        Portugal  99.0  97.0  96.0  98.0  98.0
119         Romania  99.0  99.0  99.0  99.0  99.0
133        Slovakia  90.0  97.0  98.0  97.0  98.0
134        Slovenia   NaN   NaN   NaN   NaN   NaN
141          Sweden  24.0  23.0  23.0  21.0  23.0

In [95]:
data = immunisation_df[immunisation_df['Country'].isin(new_tb_rates_df['Country'])==False]
data.head(50)

                                  Country  2012  2011  2010  2009  2008
0                             Afghanistan  78.0  71.0  68.0  64.0  66.0
1                                 Albania  96.0  97.0  99.0  97.0  99.0
2                                 Algeria  99.0  99.0  99.0  99.0  99.0
3                                  Angola  73.0  74.0  79.0  70.0  73.0
4                               Argentina  99.0  99.0  99.0  99.0  99.0
5                                 Armenia  96.0  96.0  95.0  99.0  98.0
6                              Azerbaijan  98.0  99.0  98.0  95.0  92.0
7                              Bangladesh  98.0  99.0  98.0  99.0  99.0
8                                 Belarus  98.0  99.0  99.0  98.0  98.0
9                                  Belize  98.0  98.0  98.0  99.0  98.0
10                                  Benin  96.0  88.0  90.0  93.0  96.0
11                                 Bhutan  95.0  95.0  96.0  94.0  99.0
12       Bolivia (Plurinational State of)  99.0  99.0  98.0  93.0  90.0
13                 Bosnia and Herzegovina  96.0  94.0  96.0  97.0  96.0
14                               Botswana  98.0  98.0  98.0  99.0  99.0
15                                 Brazil  99.0  99.0  99.0  99.0  99.0
16                      Brunei Darussalam  99.0  96.0  95.0  99.0  99.0
18                           Burkina Faso  96.0  99.0  99.0  99.0  99.0
19                                Burundi  98.0  90.0  93.0  98.0  99.0
20                             Cabo Verde  99.0  99.0  99.0  99.0  99.0
21                               Cambodia  99.0  98.0  95.0  96.0  98.0
22                               Cameroon  81.0  80.0  83.0  81.0  91.0
23               Central African Republic  74.0  74.0  74.0  74.0  74.0
24                                   Chad  62.0  52.0  58.0  46.0  30.0
25                                  Chile  92.0  91.0  95.0  95.0  99.0
26                                  China  99.0  99.0  99.0  99.0  97.0
27                               Colombia  89.0  83.0  84.0  90.0  93.0
28                                Comoros  79.0  78.0  76.0  80.0  81.0
29                                  Congo  92.0  95.0  95.0  90.0  93.0
30                           Cook Islands  98.0  98.0  99.0  99.0  99.0
31                             Costa Rica  91.0  90.0  88.0  91.0  99.0
32                          Côte d'Ivoire  93.0  76.0  79.0  95.0  91.0
33                                Croatia  99.0  99.0  99.0  99.0  99.0
34                                   Cuba  99.0  99.0  99.0  99.0  99.0
36  Democratic People's Republic of Korea  98.0  98.0  98.0  98.0  97.0
37       Democratic Republic of the Congo  83.0  66.0  85.0  85.0  78.0
38                               Djibouti  87.0  89.0  90.0  90.0  90.0
39                               Dominica  98.0  98.0  99.0  99.0  98.0
40                     Dominican Republic  99.0  99.0  98.0  96.0  92.0
41                                Ecuador  94.0  98.0  98.0  99.0  98.0
42                                  Egypt  95.0  98.0  98.0  98.0  98.0
43                            El Salvador  90.0  95.0  96.0  99.0  99.0
44                      Equatorial Guinea  78.0  75.0  71.0  71.0  71.0
45                                Eritrea  97.0  97.0  96.0  96.0  95.0
47                               Eswatini  99.0  98.0  98.0  97.0  96.0
48                               Ethiopia  74.0  80.0  76.0  74.0  71.0
49                                   Fiji  99.0  99.0  99.0  99.0  99.0
52                                  Gabon  97.0  94.0  94.0  93.0  93.0
53                                 Gambia  98.0  90.0  92.0  94.0  95.0
54                                Georgia  95.0  96.0  96.0  95.0  95.0

In [41]:
for item in immunisation_df['Country']:
    print(item)

Afghanistan
Albania
Algeria
Angola
Argentina
Armenia
Azerbaijan
Bangladesh
Belarus
Belize
Benin
Bhutan
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Botswana
Brazil
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Central African Republic
Chad
Chile
China
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Côte d'Ivoire
Croatia
Cuba
Czechia
Democratic People's Republic of Korea
Democratic Republic of the Congo
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Ghana
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hungary
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lesotho
Liberia
Libya
Lithuania
Madagascar
Malawi
Malaysia
Maldives
Mali
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia (Federated States of)
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Nicaragua
Niger
Nigeria
Niue
occupied Palestinian territory, including east Jerusalem
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Republic of Korea
Republic of Moldova
North Macedonia
Romania
Russian Federation
Rwanda
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Samoa
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Sri Lanka
Sudan
Sweden
Syrian Arab Republic
Tajikistan
Thailand
Timor-Leste
Togo
Tonga
Tunisia
Turkey
Turkmenistan
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Republic of Tanzania
Uruguay
Uzbekistan
Vanuatu
Venezuela (Bolivarian Republic of)
Viet Nam
Yemen
Zambia
Zimbabwe

In [112]:
protocol = 'postgresql'
username = '<postgres>'
password = '<akinbola1984>'
host = 'localhost'
port = 5432
database_name = 'tuberculosis_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)